header.header
  .container
    .header__wrapper
      .header__left.short-news
        .short-news__list
          .short-news__item
            .short-news__image.short-news__image--background
            .short-news__content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error est fuga fugit libero officiis optio pariatur, quis, reiciendis, sapiente sit tempora vero voluptates. Deserunt dicta magnam nobis quisquam veniam?
          .short-news__item
            .short-news__image.short-news__image--background
            .short-news__content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error est fuga fugit libero officiis optio pariatur, quis, reiciendis, sapiente sit tempora vero voluptates. Deserunt dicta magnam nobis quisquam veniam?
          .short-news__item
            .short-news__image.short-news__image--background
            .short-news__content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error est fuga fugit libero officiis optio pariatur, quis, reiciendis, sapiente sit tempora vero voluptates. Deserunt dicta magnam nobis quisquam veniam?
      .header__center
        
      .header__right



