.sidebar-login
  .sidebar-login__wrapper
    ul.sidebar-login__list
      li.sidebar-login__item.login-form
        .login-form__top.login-form-top
          span.login-form-top__title Авторизоваться
        .login-form__bottom.login-form-bottom
          span.login-form-bottom__city Москва
      li.sidebar-login__item.search-form
        .search-form__top
        .search-form__bottom
      li.sidebar-login__item

