extends ../layout/main

block variables
  - var title = 'Информационное агентство Инфорос - Главная'
  - var pageClass = 'home-page'

block content
  main.main-content
    .container
      .row-wrapper
        //include ../includes/modules/breadcrumbs
        h1 yo all!
