include ../utils/mixins.pug
block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title}
    block HeadScript

  body(class=pageClass)
  block script
    .body__wrapper
      include ../includes/modules/header
      .container
        .main__wrapper
          main.column-wrapper.column-wrapper--main
            include ../includes/modules/nav
            .content-wrapper
              block content
          sidebar.column-wrapper.column-wrapper--sidebar
            include ../includes/modules/sidebarLogin
          //include ../includes/modules/footer



